/*------------------------------------
    ALL
 ------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3rem;
    padding: .7rem;
}

.flex {
    display: flex;
    align-items: center;
}

 /*---------------------------------
        HEADER
----------------------------------*/
header > .navbar > a > img{
    width: 4vh;
    position: fixed;
    top: 37px;
    left: 2rem;
}

.nav-toggle {
    width: 20px;
    height: 30px;
    right: 2rem;
    position: fixed;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: '';
    background: white;
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
}

.nav-toggle-bar::before{
    width: 150%;
}

.nav-toggle-bar::after{
    width: 50%;
}

.nav-toggle-bar::before {
    top: -8px
}

.nav-toggle-bar::after {
    top: 8px
}

header .icone_notification {
    position: fixed;
    margin: 1.9rem 1rem 0 16.5rem;
}

header .icone_recherche {
    position: fixed;
    margin: 1.9rem 1rem 0 13.5rem;
}

/*---------------------------------
        FOOTER
----------------------------------*/
footer {
    margin: 2rem;
}

.logo_footer {
    padding: 2rem 0 2rem 0 ;
}

.liens_pages {
    margin-bottom: 1.5rem;
}

.liens_pages > ul > li, .text_reseaux,
footer > ul:nth-child(3) > li {
    font-weight: 300;
}

footer > ul.flex > li {
    margin-right: 1rem;
}

/*---------------------------------
        INDEX
----------------------------------*/
#index {
    margin-top: 9vh;
    height: 100vh;
    background-size: cover;
    background-position: 50% 100%;
}

#index > h1, h2, p, main,
#index > article{
    text-align: center;
}

.btn_m {
    margin-top: 8rem;
}

.btn_v {
    margin-bottom: 4rem;
}

#index > article:nth-child(4) > h3:nth-child(1) {
    margin-top: 2rem;
}


#index > main > article > button.btn_v {
    margin-bottom: 18rem;
}

.fleche {
    margin-top: 2rem;
}

#index p,
#index h2 {
    padding: 2rem 2rem 0 2rem;
}

/*---------------------------------
        WELCOMEPAGE
----------------------------------*/
#welcome{
    height: 100vh;
    background-size: cover;
    background-position: 50% 100%;
}

#welcome .container{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#welcome .container img{
    width: 90px;
    margin-top: 1rem;
}

/*---------------------------------
        PROFILPAGE
----------------------------------*/
.profil > * {
    padding: .5rem;
}

.profil_chiffres {
    text-align: center;
    color: #FDB8D5;
}

.profil > ul {
    text-align: center;
}

.profil > ul > li  {
    display: inline-block;
    position: inherit;
    margin-left: 1rem;
    margin-right: 1rem;
}

.profil > ul > li > a > span {
    display: block;
    position: inherit;
}

.profil > img {
    width: 32%;
    margin: 0 16px 0 16px;
}

.profil > img, .icone_ajout_bio{
    float: left;
}

.profil h4{
    margin-bottom: 5px;
}

.profil > div > div{
    margin-left: auto;
    margin-right: 15%;
}

.profil > div > img {
    margin-left: 2rem;
}

.profil > div.flex{
    margin-top: 5rem;
}

.vertical-line {
    border-left: 1px solid white;
    margin: 0 5px;
}

/*---------------------------------
        SUBSCRIPTION
----------------------------------*/

#subscription > main {
    padding: 11rem 2rem 2rem 2rem;
    height: 100vh;
    background-size: cover;
    background-position: 50% 100%;
}

.btn_subscription{
    width: 17rem;
}

.center_btn {
    display: block;
    padding: 0 2rem 0 2rem;
}

#subscription > main > div > ul.little_text_subscription {
    text-align: left;
    line-height: 2rem;
}

#subscription > main > div > ul:nth-child(2) {
    margin-left: 17rem;
    position: absolute;
    line-height: 2rem;
}

#subscription > main > div > ul:nth-child(3) {
    position: absolute;
    margin-top: -98px;
    line-height: 2rem;
    margin-left: 10rem;
}

#subscription > main > div > ul:nth-child(4) {
    position: absolute;
    line-height: 2rem;
    margin-top: -66px;
    margin-left: 13.4rem;
}

#subscription > main > div:nth-child(6) > button:nth-child(1) {
    width: 20%;
    margin-left: 12rem;
}

#subscription > main > div:nth-child(6) > button:nth-child(2) {
    width: 20%;
    margin-left: 0.1rem;
}
/*---------------------------------
        LEGALNOTICES
----------------------------------*/
.p_left {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

#legal_notices span{
}

/*---------------------------------
        PAGES <-- FOOTER
----------------------------------*/
.snd_h2 {
    margin-top: 6rem;
    margin-bottom: 1rem;
}

/*---------------------------------
        PAGETEAM <-- FOOTER
----------------------------------*/
#team,
#team > p,
.img_team {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}

#team > h3 {
    margin: 3rem 1rem 1rem 1rem;
}

.right_team {
    text-align: right;
}

.line_pink_j {
    margin-left: 36px;
}

#team > h2 {
    text-align: left;
    margin-left: 1rem;
}

