/* importation */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* footer */
.liens_footer, .autres_footer{
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.liens_footer a{
    color: white;
    text-decoration: none;
}

.titre_res{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #6C46CE;
}
.autres_footer a{
    color: grey;
    text-decoration: none;
}
/* index */
.index{
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
}
.index h3{
    font-family: Syncopate, sans-serif;
    font-size: 12em;
    margin-bottom: 0;
    font-weight: 400;
    margin-top: 5vh;
}
.index_intro>h1{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 6em;
}
main{
    padding-bottom: 5vh;
}

.welcome{
    color: white;
    font-family: Roboto, sans-serif;
}

.welcome h1{
    font-weight: 300;
    font-size: 6em;
    margin-bottom: 1vh;
    margin-top: 5vh;
}