h1 {
    font-weight: 300;
    font-size: 45px;
    line-height: 44px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 88px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
}

h5 {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    margin: 0 2rem 0 2rem;
    color: #F8E4BC;

}

#subscription h3 {
    font-size: 33px;
    font-weight: 700;
}

#team > h3 {
    font-size: 33px;
}

.little_text {
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
}

#subscription > main > div:nth-child(6) > button:nth-child(1),
#subscription > main > div:nth-child(6) > button:nth-child(2) {
    font-size: 10px;
    font-weight: bold;
}
